/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: #d0d0d0;
$link-color: #00abcc;
$pre-color: #b8b8b8;

// Code blocks
$code-bg: #484848;
$code-color: white;
$code-block-bg: #383838;
$code-block-bg-alpha: -.8;
$btn-code-copy-color-active: #00abcc;