/*-- scss:defaults --*/
// Base document colors
$body-bg: white;
$body-color: #101010;
$link-color: #00abcc;
$pre-color: #787878;

// Code blocks
$code-color: black;
$code-block-bg: #f4f4f4;
$code-block-bg-alpha: -.8;
$btn-code-copy-color-active: #00abcc;

// Keyboard shortcuts
// Does not semme to work?
$kbd-bg: #f7f7f7;
$kbd-color: black;